@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Dog Breeds</h2>
        <p>A web application to allow recording of animal breeds and individual animals of a given breed.</p>
    </div>
</div>
